@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body{
    font-family:  Lato, sans-serif;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

#form-signup{
    background-color: whitesmoke;
    height:400px;
    width:300px;
    display: inline-block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;  
    border-radius: 10px;
    font-weight: 550;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#form-login{
    background-color: whitesmoke;
    height:400px;
    width:300px;
    display: inline-block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;  
    border-radius: 10px;
    font-weight: 550;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

input::placeholder {
    font: 12px sans-serif;
    opacity: 50%;
}

.fa-eye{
    margin-top:-32px;
    position: relative;
    left: 250px;
}

.p-login{
    text-align: center;
}

.input-signup{
    border: 1px;
    height: 30px;
    width: 200px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 2px;
    padding: 13px 10px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;    
}

.input-login{
    border: 1px;
    height: 30px;
    width: 200px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 2px;
    padding: 13px 10px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;    
}



form h1{
    text-align: center;
    margin-bottom: 10px;
   
}

#h1-login{
    margin-top: 50px;
    margin-bottom: 30px;
}

label, input{
    margin-left: 50px;
}


#submit-button{
    text-align: center;
    height: 30px;
    width: 200px;
    border: none;
    background: -webkit-linear-gradient(right,#003366,#004080,#0059b3, #0073e6);
    color:white;
    border-radius: 4px;
    margin-top: -10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#submit-button-login{
    text-align: center;
    height: 30px;
    width: 200px;
    border: none;
    background: -webkit-linear-gradient(right,#003366,#004080,#0059b3, #0073e6);
    color:white;
    border-radius: 4px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}





